# CONFIG_ARCH_AXIADO is not set
# CONFIG_ARCH_CIX is not set
# CONFIG_ARCH_SOPHGO is not set
# CONFIG_XEN is not set
# CONFIG_NET_DSA is not set
# CONFIG_HSR is not set
# CONFIG_BT is not set

#
# CFG80211 needs to be enabled for MAC80211
#
# CONFIG_NFC is not set
# CONFIG_GNSS is not set
# CONFIG_SENSORS_LIS3_SPI is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
# CONFIG_DEBUG_PREEMPT is not set
